dotenv==0.9.9
huggingface-hub==0.32.2
konlpy==0.6.0
langchain-core==0.3.62
langchain-openai==0.3.7
langgraph==0.4.7
numpy==2.2.6
openai==1.82.0
opensearch-py==2.8.0
requests==2.32.3
sentence-transformers==4.1.0
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
transformers==4.51.1
triton==3.3.0
valkey==6.1.0
vllm==0.9.0.1
sglang==0.4.6.post5
krwordrank==1.0.3
boto3==1.38.35
pinecone==7.0.2
langchain-neo4j==0.4.0
streamlit==1.46.0
gradio==5.34.2
pydantic==2.11.3